@font-face {
  font-family: "MyFont";
  src: url(./assets/fonts/SKCuriosity-Light.ttf), format("ttf");
}
@font-face {
  font-family: "MunikaFont";
  src: url(./assets/fonts/munika-light.otf), format("otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: "MyFont", sans-serif;
  background-color: #121212;
  padding: 0.4rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
  margin-top: 0.3rem;
}
nav .nav-btn {
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
}
nav .nav-btn p {
  background-color: #1E1E1E;
  border: none;
  border-radius: 5px;
  color: #F4F2ED;
  padding: 0.5rem 1.2rem;
  font-family: "MyFont", sans-serif;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .nav-btn p span {
  background-color: #CEBD63;
  color: black;
  border-radius: 50%;
  padding: 0.12rem 0.38rem;
  font-family: monospace;
  text-align: center;
}
nav .nav-btn button {
  font-size: 0.9rem;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  border: none;
  border-radius: 10px;
  padding: 1rem 1.8rem;
  align-items: center;
  justify-content: center;
  background-color: #CEBD63;
  cursor: pointer;
}
nav p:nth-child(6) {
  gap: 0.5rem;
}
nav p:nth-child(8) {
  display: none;
  font-size: 2rem;
  color: rgba(244, 242, 237, 0.7333333333);
}
@media (max-width: 990px) {
  nav .nav-btn button {
    display: none;
  }
  nav p:nth-child(1) {
    display: none;
  }
  nav p:nth-child(2) {
    display: none;
  }
  nav p:nth-child(3) {
    display: none;
  }
  nav p:nth-child(4) {
    display: none;
  }
  nav p:nth-child(5) {
    display: none;
  }
  nav p:nth-child(8) {
    display: block;
  }
}

.view1 .container {
  display: flex;
  gap: 1rem;
  margin: 1.1rem 0;
}
.view1 .container img {
  width: 50%;
  border-radius: 2%;
  opacity: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.view1 .container .content {
  background-color: #1E1E1E;
  color: #F4F2ED;
  padding: 4.3rem;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  border-radius: 2%;
}
.view1 .container .content p {
  font-size: 0.9rem;
  font-weight: 600;
}
.view1 .container .content h1 {
  font-weight: 200;
  font-size: 4rem;
  margin-top: 11rem;
  letter-spacing: 0.1rem;
}
.view1 .container .content .para {
  font-size: 1.33rem;
  line-height: 2rem;
  opacity: 60%;
  font-weight: 200;
}
.view1 .container .content .btn {
  font-size: 0.85rem;
  font-weight: 600;
  display: flex;
  gap: 0.8rem;
  align-items: center;
  margin-top: 2rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
}
.view1 .container .content .btn i {
  font-size: 1.4rem;
  font-weight: 100;
  border-radius: 50%;
  background-color: #292929;
  color: rgba(244, 242, 237, 0.7647058824);
  border: 1px solid rgba(244, 242, 237, 0.7176470588);
  padding: 0.5rem;
}
@media (max-width: 990px) {
  .view1 .container {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .view1 .container img {
    width: 100%;
    margin: 0.9rem 0;
  }
  .view1 .container .content {
    padding: 2.1rem;
    font-size: 1.2rem;
  }
  .view1 .container .content h1 {
    margin-top: 3rem;
    font-size: 2.3rem;
  }
  .view1 .container .content .para {
    font-size: 1.3rem;
  }
  .view1 .container .content .btn {
    font-size: 0.75rem;
  }
}

.grade-percent {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
  font-family: "MunikaFont", sans-serif;
  font-weight: 600;
}
.grade-percent .grade {
  display: flex;
  flex-direction: column;
  color: #F4F2ED;
}
.grade-percent .grade p {
  font-size: 0.9rem;
  line-height: 2rem;
  opacity: 60%;
  font-weight: 200;
}
.grade-percent .grade h1 {
  font-weight: 200;
  font-size: 4rem;
}

#reverse {
  display: flex;
  flex-direction: row-reverse;
}
#reverse .content h1 {
  font-size: 2.95rem;
}

#reverse2 {
  display: flex;
  flex-direction: row;
}
#reverse2 .content h1 {
  font-size: 2.95rem;
}

@media (max-width: 990px) {
  .grade-percent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    place-items: center;
  }
  .grade-percent .grade p {
    font-size: 0.85rem;
  }
  .grade-percent .grade h1 {
    font-size: 2.3rem;
  }
  #reverse {
    display: flex;
    flex-direction: column;
  }
  #reverse .content h1 {
    font-size: 2.3rem;
  }
  #reverse2 {
    display: flex;
    flex-direction: column;
  }
  #reverse2 .content h1 {
    font-size: 2.3rem;
  }
}
.view2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.view2 .heading h1 {
  font-weight: 200;
  padding: 2rem 1rem;
  color: #F4F2ED;
  font-size: 3rem;
}
.view2 .box_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}
.view2 .box_container .box {
  width: 100%;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.view2 .box_container .box .social-icon {
  display: flex;
  align-items: flex-end;
  justify-content: end;
  gap: 0.6rem;
  padding: 2rem;
}
.view2 .box_container .box .social-icon i {
  font-size: 1.1rem;
  border-radius: 50%;
  background-color: rgba(190, 181, 181, 0.2549019608);
  color: rgba(244, 242, 237, 0.5960784314);
  border: 1px solid rgba(244, 242, 237, 0.2431372549);
  padding: 0.7rem;
  font-weight: 100;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.view2 .box_container .box .btn {
  width: 90%;
  display: flex;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  gap: 8rem;
  border: 1px solid rgba(244, 242, 237, 0.1450980392);
  font-size: 0.9rem;
  border-radius: 7px;
  background-color: rgba(155, 147, 147, 0.3725490196);
  color: rgba(244, 242, 237, 0.9176470588);
  padding: 1.2rem 1.6rem;
  margin: 1rem;
}
.view2 .box_container .box:nth-child(1) {
  background-image: url(./assets/images/4.webp);
}
.view2 .box_container .box:nth-child(2) {
  background-image: url(./assets/images/5.webp);
}
.view2 .box_container .box:nth-child(3) {
  background-image: url(./assets/images/6.webp);
}
.view2 .boxbox {
  display: flex;
  gap: 1rem;
}
.view2 .boxbox .box img {
  width: 100%;
  opacity: 70%;
  border-radius: 10px;
}
.view2 .boxbox .box-content {
  background-color: #1E1E1E;
  color: #F4F2ED;
  padding: 3.9rem;
  font-size: 1.05rem;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  border-radius: 2%;
  width: 100%;
}
.view2 .boxbox .box-content p {
  font-size: 0.9rem;
  font-weight: 600;
  opacity: 60%;
}
.view2 .boxbox .box-content h1 {
  font-weight: 400;
  font-size: 3rem;
}
.view2 .boxbox .box-content .btn {
  font-size: 0.9rem;
  font-weight: 600;
  display: flex;
  gap: 0.6rem;
  align-items: center;
  margin-top: 10rem;
  cursor: pointer;
}
.view2 .boxbox .box-content .btn i {
  font-size: 1.1rem;
  font-weight: 100;
  border-radius: 50%;
  background-color: #292929;
  color: rgba(244, 242, 237, 0.7647058824);
  border: 1px solid rgba(244, 242, 237, 0.2823529412);
  padding: 0.5rem;
}
.view2 .social-grid {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}
.view2 .social-grid .box-content2 {
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: #CEBD63;
  color: #161616;
  padding: 2.9rem;
  font-size: 1.25rem;
  gap: 1rem;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.view2 .social-grid .box-content2 .box-first {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.view2 .social-grid .box-content2 p {
  font-size: 0.9rem;
  font-weight: 200;
}
.view2 .social-grid .box-content2 h1 {
  font-weight: 400;
  font-size: 4.5rem;
}
.view2 .social-grid .box-content2 .btn {
  font-size: 0.85rem;
  font-weight: 600;
  display: flex;
  gap: 0.6rem;
  width: 15%;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #161616;
  color: #F4F2ED;
  padding: 1rem 1.2rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
}
.view2 .social-grid .social-container {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
  display: flex;
  flex-direction: column;
  background-color: #1E1E1E;
  color: #F4F2ED;
  padding: 1.9rem;
  font-size: 0.65rem;
  align-items: start;
  justify-content: space-between;
  border-radius: 5px;
}
.view2 .social-grid .social-container img {
  width: 3.5rem;
}
.view2 .social-grid .social-container .social-icon {
  display: flex;
  gap: 0.6rem;
}
.view2 .social-grid .social-container .social-icon i {
  font-size: 1rem;
  border-radius: 50%;
  background-color: rgba(63, 63, 62, 0.4901960784);
  color: rgba(244, 242, 237, 0.8470588235);
  border: 1px solid rgba(244, 242, 237, 0.2431372549);
  padding: 0.7rem;
  font-weight: 100;
}
.view2 .social-grid .footer {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  background-color: #1E1E1E;
  color: #F4F2ED;
  padding: 1.9rem;
  font-size: 0.85rem;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 10px;
}
.view2 .social-grid .footer .footer-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.view2 .social-grid .footer .footer-section p {
  color: rgba(244, 242, 237, 0.6980392157);
  cursor: pointer;
}
.view2 .social-grid .footer .footer-section button {
  font-size: 0.73rem;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  border-radius: 5px;
  padding: 0.9rem 1rem;
  align-items: center;
  justify-content: center;
  background-color: #CEBD63;
  border: none;
  letter-spacing: 0.04rem;
  cursor: pointer;
}
.view2 .social-grid .footer-end {
  display: flex;
  grid-column-start: 2;
  grid-column-end: 5;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-weight: 400;
  background-color: #1E1E1E;
  padding: 1.9rem;
  font-size: 0.9rem;
  gap: 2rem;
  border-radius: 10px;
  color: rgba(244, 242, 237, 0.6980392157);
  letter-spacing: 0.03rem;
  font-family: "MunikaFont", sans-serif;
}
.view2 .social-grid .footer-end p:nth-child(2) {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  color: #F4F2ED;
  font-weight: 600;
}
.view2 .social-grid .footer-end p:nth-child(2) i {
  font-size: 1.1rem;
  font-weight: 100;
  border-radius: 50%;
  background-color: #292929;
  color: rgba(244, 242, 237, 0.7647058824);
  border: 1px solid rgba(244, 242, 237, 0.462745098);
  padding: 0.5rem;
  cursor: pointer;
}
.view2 .social-grid .footer-end span {
  color: #F4F2ED;
  text-decoration: underline;
  font-weight: 600;
  cursor: pointer;
}

@media (max-width: 990px) {
  .view2 .heading h1 {
    font-size: 2rem;
  }
  .view2 .box_container {
    display: flex;
    flex-direction: column;
  }
  .view2 .box_container .box img {
    width: 100%;
  }
  .view2 .box_container .box .btn {
    gap: 2.5rem;
  }
  .view2 .boxbox {
    display: flex;
    flex-direction: column;
  }
  .view2 .boxbox .box img {
    width: 100%;
  }
  .view2 .boxbox .box-content {
    padding: 1.9rem;
  }
  .view2 .boxbox .box-content p {
    font-size: 0.9rem;
  }
  .view2 .boxbox .box-content h1 {
    font-weight: 400;
    font-size: 2rem;
  }
  .view2 .boxbox .box-content .btn {
    margin-top: 2rem;
  }
  .view2 .social-grid {
    display: flex;
    flex-direction: column;
  }
  .view2 .social-grid .box-content2 {
    padding: 1.9rem;
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .view2 .social-grid .box-content2 p {
    font-size: 0.9rem;
  }
  .view2 .social-grid .box-content2 h1 {
    font-size: 2.6rem;
  }
  .view2 .social-grid .box-content2 .btn {
    width: 100%;
    font-size: 0.9rem;
  }
  .view2 .social-grid .social-container {
    font-size: 1.05rem;
    gap: 4rem;
  }
  .view2 .social-grid .social-container img {
    width: 3rem;
  }
  .view2 .social-grid .footer {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    gap: 4rem;
  }
  .view2 .social-grid .footer .footer-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .view2 .social-grid .footer .footer-section button {
    font-size: 0.9rem;
  }
  .view2 .social-grid .footer-end {
    flex-direction: column;
    font-size: 0.9rem;
  }
}/*# sourceMappingURL=style.css.map */