@font-face {
    font-family: "MyFont";
    src: url(./assets/fonts/SKCuriosity-Light.ttf), format("ttf");
}
@font-face {
    font-family: "MunikaFont";
    src: url(./assets/fonts/munika-light.otf), format("otf");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
    font-family: "MyFont", sans-serif;
   // font-family: "MunikaFont", sans-serif;
    background-color: #121212;
    padding: .4rem;
}
nav{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 0.5rem;
   margin-top: .3rem;
   

    .nav-btn{

        display: flex;
        gap: .5rem;
        cursor: pointer;
        

        p{
            background-color: #1E1E1E;
            border: none;
            border-radius: 5px;
            color: #F4F2ED;
            padding: .5rem 1.2rem;
            font-family: "MyFont", sans-serif;
            font-size: .9rem;
            display: flex;
            align-items: center;
            justify-content: center;
            
            


            span{
                background-color: #CEBD63;
                color: black;
                border-radius: 50%;
                padding: .12rem .38rem;
                font-family: monospace;
                text-align: center;
                
            }
        }
        button{
               font-size: .9rem;
               width: fit-content;
               display: flex;
               border: none;
               border-radius: 10px;
               padding: 1rem 1.8rem;
               align-items: center;
               justify-content: center;
               background-color: #CEBD63;
               cursor: pointer;
               
              
        }
    }


    p:nth-child(6){
        gap: .5rem;
        
    }
    p:nth-child(8){
        display: none;
        font-size: 2rem;
        color: #f4f2edbb;
    }

    @media (max-width:990px) {

        .nav-btn{
            button{
            display: none;
            }
        }
        p:nth-child(1){
          display: none;
        }
        p:nth-child(2){
          display: none;
        }
        p:nth-child(3){
          display: none;
        }
        p:nth-child(4){
          display: none;
        }
        p:nth-child(5){
          display: none;
        }
        p:nth-child(8){
         display: block;
        }
    }
    
    
}

.view1{
   .container{
    display: flex;
    gap: 1rem;
    margin: 1.1rem 0;
    

    img{
       width: 50%; 
       border-radius: 2%;
       opacity: 80%;
       object-fit: cover;
       object-position: center;
    }

    .content{
       
        background-color: #1E1E1E;
        color:#F4F2ED ;
        padding: 4.3rem;
        font-size: 1.2rem;
        display: flex;
        flex-direction: column;
        gap: 1.3rem;
        border-radius: 2%;

        p{
            font-size: .9rem;
            font-weight: 600;
        }

        h1{
            font-weight: 200;
            font-size: 4rem;
            margin-top: 11rem;
            letter-spacing: .1rem;
        }

        .para{
            font-size: 1.33rem;
            line-height: 2rem;
            opacity: 60%;
            font-weight: 200;
        }

        .btn{
            font-size: .85rem;
            font-weight: 600;
            display: flex;
            gap: .8rem;
            align-items: center;
            margin-top: 2rem;
            letter-spacing: .1rem;
            cursor: pointer;
            
           i{
            font-size: 1.4rem;
            font-weight: 100;
            border-radius: 50%;
            background-color: #292929;
            color: #f4f2edc3;
            border: 1px solid #f4f2edb7 ;
            padding: .5rem;
           }
        }
    }

   } 
   @media (max-width:990px) {
    .container{
    display: flex;
    flex-direction: column;
    margin: 0;
    

    img{
       width: 100%; 
       margin: .9rem 0;
       
    }

    .content{
        padding: 2.1rem;
        font-size: 1.2rem;
        
        h1{
            margin-top: 3rem;
            font-size: 2.3rem;
        }

        .para{
            font-size: 1.3rem;
        }

        .btn{
            font-size: .75rem;
        }
    }

   } 
   }
}
.grade-percent{
    display: flex;
    
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    font-family: "MunikaFont", sans-serif;
    font-weight: 600;
    .grade{
        display: flex;
        flex-direction: column;
        color:#F4F2ED ;
    
        p{
           font-size: .9rem;
           line-height: 2rem;
           opacity: 60%;
           font-weight: 200; 
        }
        h1{
            font-weight: 200;
            font-size: 4rem;
        }
    }

}
#reverse{
    display: flex;
    flex-direction: row-reverse;

    .content{
        h1{
            font-size: 2.95rem;
        }
    }
}
#reverse2{
    display: flex;
    flex-direction: row;

    .content{
        h1{
            font-size: 2.95rem;
        }
    }
}

@media (max-width:990px) {
    .grade-percent{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    place-items: center;
    
    .grade{
        p{
           font-size: .85rem;
           
        }
         h1{
            
            font-size: 2.3rem;
        }
       
    }

}
#reverse{
    display: flex;
    flex-direction: column;

    .content{
        h1{
            font-size: 2.3rem;
        }
    }
}
#reverse2{
    display: flex;
    flex-direction: column;

    .content{
        h1{
            font-size: 2.3rem;
        }
    }
}
}

.view2{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .heading{
        h1{
            font-weight: 200;
            padding: 2rem 1rem;
            color: #F4F2ED;
            font-size: 3rem;
        }
       
    }
    .box_container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: 1rem;

        .box{
            width: 100%;
            border-radius: 5px;
            background-size: cover;
            background-position: center;
            aspect-ratio: 1/1;
            display: flex;
            flex-direction: column;
            // align-items: center;
            justify-content: space-between;
       
        
        .social-icon{
            display: flex;
            align-items: flex-end;
            justify-content: end;
            gap: .6rem;
            padding: 2rem;
           
           
            
            i{
               font-size: 1.1rem;
               border-radius: 50%;
               background-color: #beb5b541;
               color: #f4f2ed98;
               border: 1px solid #f4f2ed3e ;
               padding: .7rem;
               font-weight: 100;
               backdrop-filter: blur(5px);
            }

        }
        .btn{
            width: 90%;
            display: flex;
            backdrop-filter: blur(5px);
        
            gap: 8rem;
            border: 1px solid #f4f2ed25;
            font-size: .9rem;
            border-radius: 7px;
            background-color: #9b93935f;
            color: #f4f2edea;
            
            padding: 1.2rem 1.6rem;
            margin: 1rem;
           
            
        }
    }
    .box:nth-child(1){
        background-image: url(./assets/images/4.webp);
    }
    .box:nth-child(2){
        background-image: url(./assets/images/5.webp);
    }
    .box:nth-child(3){
        background-image: url(./assets/images/6.webp);
    }
    }
    .boxbox{
        display: flex;
        gap: 1rem;
        
        .box{
            img{
                width: 100%;
                opacity: 70%;
                border-radius: 10px;
            }
        }
        

         .box-content{
        background-color: #1E1E1E;
        color:#F4F2ED ;
        padding: 3.9rem;
        font-size: 1.05rem;
        display: flex;
        flex-direction: column;
        gap: 1.3rem;
        border-radius: 2%;
        width: 100%;

        p{
            font-size: .9rem;
            font-weight: 600;
            opacity: 60%;
        }

        h1{
            font-weight: 400;
            font-size: 3rem;
            
        }

        .btn{
            font-size: .9rem;
            font-weight: 600;
            display: flex;
            gap: .6rem;
            align-items: center;
            margin-top: 10rem;
            cursor: pointer;
            
           i{
            font-size: 1.1rem;
            font-weight: 100;
            border-radius: 50%;
            background-color: #292929;
            color: #f4f2edc3;
            border: 1px solid #f4f2ed48 ;
            padding: .5rem;
           }
        }
    }
    }

     .social-grid{
        width: 100%;
        height: 100vh;
         display: grid;
         grid-template-columns: repeat(4, 1fr);
         grid-template-rows:repeat(2, 1fr) ;
         gap: 1rem;
         
         .box-content2{
            
            grid-column-start: 1;
            grid-column-end: 5;
            background-color: #CEBD63;
            color:#161616 ;
            padding: 2.9rem;
            font-size: 1.25rem;
            gap: 1rem;
            border-radius: 10px; 
            display: flex; 
            align-items: flex-end;
            justify-content: space-between;   
            .box-first{
               display: flex;
               flex-direction: column;
               gap: 1rem;
               
            }
        
       
        
        

       p{
            font-size: .9rem;
            font-weight: 200;
            
        }

        h1{
            font-weight: 400;
            font-size: 4.5rem;
            
            
        }

        .btn{
            font-size: .85rem;
            font-weight: 600;
            display: flex;
            gap: .6rem;
           width: 15%;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            background-color: #161616;
            color: #F4F2ED;
            padding: 1rem 1.2rem;
            letter-spacing: .1rem;
            cursor: pointer;
            
           
        }
    }
    .social-container{
        grid-column-start: 1;
        grid-column-end: 2;

        grid-row-start: 2;
        grid-row-end: 4;
        
        display: flex;
        flex-direction: column;
        background-color: #1E1E1E;
        color: #F4F2ED ;
        padding: 1.9rem;
        font-size: .65rem;
        align-items: start;
        justify-content: space-between;
        border-radius: 5px;
       

        img{
            width: 3.5rem;
        }

        .social-icon{
            display: flex;
            gap: .6rem;
           
            i{
               font-size: 1rem;
               border-radius: 50%;
               background-color: #3f3f3e7d;
               color: #f4f2edd8;
               border: 1px solid #f4f2ed3e ;
               padding: .7rem;
               font-weight: 100;
            }

        }
        
    }
    .footer{
        grid-column-start: 2;
        grid-column-end: 5;
        
         grid-row-start: 2;
        grid-row-end: 3;
        display: flex;
        
        background-color: #1E1E1E;
        color: #F4F2ED ;
        padding: 1.9rem;
        font-size: .85rem;
        align-items: flex-start;
        justify-content: space-between;
        border-radius: 10px;

        .footer-section{
            display: flex;
            flex-direction: column;
            gap: 2rem;

            p{
                color: #f4f2edb2;
                cursor: pointer;
            }

            button{
               font-size: .73rem;
               width: fit-content;
               display: flex;
               border-radius: 5px;
               padding: .9rem 1rem;
               align-items: center;
               justify-content: center;
               background-color: #CEBD63;
               border: none;
              letter-spacing: .04rem;
              cursor: pointer;
            }
        }

    }
    .footer-end{
        display: flex;
        grid-column-start: 2;
        grid-column-end: 5;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        font-weight: 400;
        background-color: #1E1E1E;
        padding: 1.9rem;
        font-size: .9rem;
        gap: 2rem;
        border-radius: 10px;
        color: #f4f2edb2;
         letter-spacing: .03rem;
         font-family: "MunikaFont", sans-serif;

        p:nth-child(2){
            display: flex;
            gap: 1rem;
            align-items: center;
            justify-content: center;
            color: #F4F2ED ;
            font-weight: 600;

            i{
            font-size: 1.1rem;
            font-weight: 100;
            border-radius: 50%;
            background-color: #292929;
            color: #f4f2edc3;
            border: 1px solid #f4f2ed76 ;
            padding: .5rem;
             cursor: pointer;
           }
        }

        span{
          color: #F4F2ED ;
          text-decoration: underline;
          font-weight: 600;
          cursor: pointer;
        }
  
    }

    }
    
}

@media (max-width:990px) {
    .view2{
    
    .heading{
        h1{
            font-size: 2rem;
        }
    }
    .box_container{
        display: flex;
        flex-direction: column;

        .box{
        
        img{
            width: 100%;     
        }
        .btn{
            
            gap: 2.5rem;
           
            
        }
    }
    }
    
    .boxbox{
        display: flex;
        flex-direction: column;
        .box{
            img{
                width: 100%;
            }
        }

         .box-content{
        padding: 1.9rem;

        p{
            font-size: .9rem;     
        }

        h1{
            font-weight: 400;
            font-size: 2rem;
            
        }

        .btn{
            margin-top: 2rem;
        }
    }
    }
   
    .social-grid{
        display: flex;
        flex-direction: column;
        .box-content2{
        
        padding: 1.9rem;
        font-size: 1.25rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
       

       p{
            font-size: .9rem;
        }

        h1{
           font-size: 2.6rem;
        }

        .btn{
            width: 100%;
            font-size: .9rem;
        }
    }
    .social-container{
        
        font-size: 1.05rem;
        gap: 4rem;
       
       

        img{
            width: 3rem;
        }
        
    }
    .footer{
        display: flex;
        flex-direction: column;
        font-size: .9rem;
        gap: 4rem;
        

        .footer-section{
            display: flex;
            flex-direction: column;
            gap: 2rem;

           
            button{
               font-size: .9rem;
            }
        }

    }
    .footer-end{
        flex-direction: column;
        font-size: .9rem;
    
    }
    }
    

}
    
}




