@font-face {
    font-family: "MyFont";
    src: url(./assets/fonts/SKCuriosity-Light.ttf), format("ttf");
}
@font-face {
    font-family: "MunikaFont";
    src: url(./assets/fonts/munika-light.otf), format("otf");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
    font-family: "MyFont", sans-serif;
   // font-family: "MunikaFont", sans-serif;
    background-color: #121212;
    padding: .4rem;
}
nav{
    display: flex;
   align-items: center;
   justify-content: space-between;
    
   

    .nav-btn{

        display: flex;
        gap: .5rem;
        

        button{
            background-color: #1E1E1E;
            border: none;
            border-radius: 15%;
            color: #F4F2ED;
            padding: .6rem 1.2rem;
            font-family: "MyFont", sans-serif;
            font-size: .9rem;
            


            span{
                background-color: #CEBD63;
                color: black;
                border-radius: 50%;
                padding: .12rem .38rem;
                font-family: monospace;
                text-align: center;
                
            }
        }
    }
    button:nth-child(1){

        display: flex;
        gap: .5rem;
        align-items: center;
        justify-content: center;
    }
    button:nth-child(2){

        font-size: 2rem;
        color: #f4f2edbb;
    }
    
}

.view1{
   .container{

    img{
       width: 100%; 
       border-radius: 2%;
       margin: .9rem 0;
       opacity: 80%;
    }

    .content{
       
        background-color: #1E1E1E;
        color:#F4F2ED ;
        padding: 2.1rem;
        font-size: 1.2rem;
        display: flex;
        flex-direction: column;
        gap: 1.3rem;
        border-radius: 2%;

        p{
            font-size: .9rem;
            font-weight: 600;
        }

        h1{
            font-weight: 200;
            margin-top: 3rem;
        }

        .para{
            font-size: 1.33rem;
            line-height: 2rem;
            opacity: 60%;
            font-weight: 200;
        }

        .btn{
            font-size: .9rem;
            font-weight: 600;
            display: flex;
            gap: .8rem;
            align-items: center;
            
           i{
            font-size: 1.4rem;
            font-weight: 100;
            border-radius: 50%;
            background-color: #292929;
            color: #f4f2edc3;
            border: 1px solid #f4f2edb7 ;
            padding: .5rem;
           }
        }
    }

   } 
}
.grade-percent{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    place-items: center;
    padding: 2rem;
    .grade{
        display: flex;
        flex-direction: column;
        color:#F4F2ED ;
    
        p{
           font-size: .9rem;
           line-height: 2rem;
           opacity: 60%;
           font-weight: 200; 
        }
        h1{
            font-weight: 200;
        }
    }

}

.view2{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .heading{
        h1{
            font-weight: 200;
            padding: 2rem 1rem;
            color: #F4F2ED;
        }
       
    }
    .box{
        position: relative;
       
        img{
            width: 100%; 
            border-radius: 2%;
            opacity: 80%;
        }
        .social-icon{
            display: flex;
            gap: .6rem;
            position: absolute;
            bottom: 82%;
            left: 60%;
            
            i{
               font-size: 1.1rem;
               border-radius: 50%;
               background-color: #29292941;
               color: #f4f2ed98;
               border: 1px solid #f4f2ed3e ;
               padding: .7rem;
               font-weight: 100;
            }

        }
        .btn{
            display: flex;
            align-items: center;
            gap: 2.7rem;
            font-size: .9rem;
            border-radius: 5px;
            background-color: #292929c8;
            color: #f4f2edea;
            border: 1px solid transparent ;
            padding: 1.2rem 1.6rem;
            margin: 1rem;
            position: absolute;
            bottom: 3%;
            
        }
    }
    .box-content{
       
        background-color: #1E1E1E;
        color:#F4F2ED ;
        padding: 1.9rem;
        font-size: 1.05rem;
        display: flex;
        flex-direction: column;
        gap: 1.3rem;
        border-radius: 2%;

        p{
            font-size: .9rem;
            font-weight: 600;
            opacity: 60%;
        }

        h1{
            font-weight: 400;
            
        }

        .btn{
            font-size: .9rem;
            font-weight: 600;
            display: flex;
            gap: .6rem;
            align-items: center;
            margin-top: 2rem;
            
           i{
            font-size: 1.1rem;
            font-weight: 100;
            border-radius: 50%;
            background-color: #292929;
            color: #f4f2edc3;
            border: 1px solid #f4f2ed48 ;
            padding: .5rem;
           }
        }
    }
    .box-content2{
        background-color: #CEBD63;
        color:#161616 ;
        padding: 1.9rem;
        font-size: 1.25rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border-radius: 2%;  

       p{
            font-size: .9rem;
            font-weight: 200;
            
        }

        h1{
            font-weight: 400;
            
        }

        .btn{
            font-size: .9rem;
            font-weight: 600;
            display: flex;
            gap: .6rem;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            background-color: #161616;
            color: #F4F2ED;
            padding: 1rem .5rem;
            
           
        }
    }
    .social-container{
        display: flex;
        flex-direction: column;
        background-color: #1E1E1E;
        color: #F4F2ED ;
        padding: 1.9rem;
        font-size: 1.05rem;
        gap: 4rem;
        border-radius: 2%;
       

        img{
            width: 3rem;
        }

        .social-icon{
            display: flex;
            gap: .6rem;
           
            i{
               font-size: 1.1rem;
               border-radius: 50%;
               background-color: #29292941;
               color: #f4f2edd8;
               border: 1px solid #f4f2ed3e ;
               padding: .7rem;
               font-weight: 100;
            }

        }
        
    }
    .footer{
        display: flex;
        flex-direction: column;
        background-color: #1E1E1E;
        color: #F4F2ED ;
        padding: 1.9rem;
        font-size: .9rem;
        gap: 4rem;
        border-radius: 2%;

        .footer-section{
            display: flex;
            flex-direction: column;
            gap: 2rem;

            p{
                color: #f4f2edb2;
            }

            button{
               font-size: .9rem;
               width: fit-content;
               display: flex;
               border-radius: 10px;
               padding: 1.1rem;
               align-items: center;
               justify-content: center;
               background-color: #CEBD63;
              
            }
        }

    }
    .footer-end{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-weight: 400;
        background-color: #1E1E1E;
        padding: 1.9rem;
        font-size: .9rem;
        gap: 2rem;
        border-radius: 2%;
        color: #f4f2edb2;

        p:nth-child(2){
            display: flex;
            gap: 1rem;
            align-items: center;
            justify-content: center;
            color: #F4F2ED ;
            font-weight: 600;

            i{
            font-size: 1.1rem;
            font-weight: 100;
            border-radius: 50%;
            background-color: #292929;
            color: #f4f2edc3;
            border: 1px solid #f4f2ed76 ;
            padding: .5rem;
           }
        }

        span{
          color: #F4F2ED ;
          text-decoration: underline;
          font-weight: 600;
        }
  
    }
    

}




